/*===================================*
  00. GENERAL CSS
*===================================*/

a {
  color: #00ced1;
  text-decoration: none;
}

a:hover {
  color: #008b8b;
}

a:active {
  color: #00ced1
}

body {
  position: relative;
}


/*===================================*
  01. HEADER  SECTION
*===================================*/
.btn-default {
  border: 1px solid #00ffff;
  color: #00ffff;
}

.btn-default:hover {
  color: #9bddff
}

/*===================================*
  05. BANNER SECTION
*===================================*/

.banner_content h2 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 25px;
}

.banner_content h4 {
  margin-bottom: 20px;
}

.banner_content p {
  margin-bottom: 25px;
}

.banner_content {
  margin-top: 100px;
}

/*===================================*
  Cool Colors
*===================================*/

.navbar-dark .navbar-nav .nav-link {
  color: rgba(0, 255, 255);
}

.navbar-toggler {
  background-color: rgba(255, 255, 255, 0.15);
}