/*===================================*
  00. GENERAL CSS
*===================================*/

a {
  color: #8564cc;
  text-decoration: none;
}

a:hover {
  color: #504469;
}

a:active {
  color: #ddc7e4;
  background-color: #ddc7e4;
}

body {
  position: relative;
}


/*===================================*
  01. HEADER  SECTION
*===================================*/
.btn-default {
  border: 1px solid #ddc7e4;
  color: #ddc7e4;
}

.btn-default:hover {
  color: #8564cc;
}

/*===================================*
  05. BANNER SECTION
*===================================*/

.banner_content h2 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 25px;
}

.banner_content h4 {
  margin-bottom: 20px;
}

.banner_content p {
  margin-bottom: 25px;
}

.banner_content {
  margin-top: 100px;
}

/*===================================*
  Cool Colors
*===================================*/

/* #fdfbcb
rgba(253,251,203,255)

#504469
rgb(80,68,105)

#a48ba0
rgb(164,139,160)

#ddc7e4 */