/*===================================*
  04. ABOUT SECTION
*===================================*/

/* .about_img3 {
    margin-right: 30px;
    position: relative;
    margin-bottom: 30px;
}
.about_info [class*="col-"] {
  margin-top: 25px;
} */

/* .pb_70 {
  padding-bottom: 70px;
} */